.main-footer{
    padding: 50px;
    background: #323232 !important;
}
.page-footer{
    color: white;
    background: #323232;
}

.page-footer a{
    color: white;
   
}

.navbar-brand span{
    color: #fed136;
    font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    }
  
.navbar-brand:hover {
      color: #ffffff;
      text-transform: uppercase;
      }