        <div class="row" >
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 0px; margin-bottom: 0px;" >
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>   
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item">
                            <img src="/assets/image/1.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Award Winning Support</h3>
                                <p>Pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget cursus dolor.</p>
                                <div class="carousel-action">
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                    <a href="#" class="btn btn-success">Try Now</a>
                                </div>
                            </div>
                        </div>	
                        <div class="item carousel-item active">
                            <img src="/assets/image/2.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Amazing Digital Experience</h3>							
                                <p>Get the most amazing digital experience on your system.</p>
                                <div class="carousel-action">
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                    <a href="#" class="btn btn-success">Try Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <img src="/assets/image/3.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>Live Monitoring Tools</h3>
                                <p>Get real-time information by monitoring your systems live.</p>
                                <div class="carousel-action">
                                    <a href="#" class="btn btn-primary">Learn More</a>
                                    <a href="#" class="btn btn-success">Try Now</a>
                                </div>
                            </div>
                        </div>	
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>

