
.services{
    padding: 3%;
    /* background: rgb(1, 1, 65); */
    background-image: url("/assets/image/back.jpg");
    background-size: contain;
    text-align: center;
    color:#fff;
    padding-top:0em;
}
  
  * { color:#fff; text-decoration: none;}


.card-body{
    text-align:center;
    color: white;
}

.row{
    margin-top: 100px;
    margin-bottom: 100px;
}
.our-services{
    padding: 30px 0 40px;
    background: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 2%;
}


.our-services .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    background: #eb1768;
    position: relative;
    z-index: 1;

}

.our-services .pic:before{
    content: "";
    width: 100%;
    background: #eb1768;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;

}

.our-services:hover .pic:before{
    height: 100%;
}

.our-services .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ee4266;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    z-index: -1;
    
}

.our-services .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s linear 0s;
}

.our-services:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-services .service-content{
    margin-bottom: 30px;
}

.our-services .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.our-services .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;

}

