<div class="services">

    <div class="card-body">
        <h1 class="card-title">Our Services</h1>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <h3><a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Do you want a Mobile App for your business?", "Project Code{} is your solution...", "Contact Us for your Application Design.", "We are here to get you there." ]'>
            <span class="wrap"></span>
        </a></h3>
      </div>


  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="our-services">
       <a href="">
         <div class="pic">
          <img src="/assets/image/s2.jpg" alt="">
          <div class="service-content">
            <h3 class="title">Mobile Applications</h3>
            <span class="post">Webiste development</span>
          </div>
        </div>
       </a> 
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-services">
        <a href="">
          <div class="pic">
          <img src="/assets/image/s2.jpg" alt="">
          <div class="service-content">
            <h3 class="title">Web Applications</h3>
            <span class="post">Webiste development</span>
          </div>
        </div>
        </a>
        
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-services">
        <a href="">
          <div class="pic">
          <img src="/assets/image/s2.jpg" alt="">
          <div class="service-content">
            <h3 class="title">Ussd Applications</h3>
            <span class="post">Webiste development</span>
          </div>
        </div>
        </a>
        
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="our-services">
        <a href="">
          <div class="pic">
          <img src="/assets/image/s2.jpg" alt="">
          <div class="service-content">
            <h3 class="title">Network Setup</h3>
            <span class="post">Webiste development</span>
          </div>
        </div>
        </a>
        
      </div>
    </div>
  </div>
</div>

